<%= form_for @opinion, :url => opinions_path, :html => { :multipart => true } do |form| %>
  
  <% if @opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% @opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :comment, "Comentario" %>
    <%= form.text_field :comment, class: "form-control", placeholder: "Comentario" %>
  </div>
  <div class="form-group">
    <%=  form.label :image, "Imagen" %>
    <%= form.file_field :image %>
    <p class="help-block">La imagen a guardar debe estar en formato .jpg</p>
  </div>
  <div class="form-group">
    <%=  form.label :grayscale_image, "Imagen" %>
    <%= form.file_field :grayscale_image %>
    <p class="help-block">La imagen a guardar debe estar en formato .jpg</p>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>