<% if notice %>
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Comentarios registrados</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @opinions.each do |opinion| %>
          <tr>
            <td><%= opinion.name unless opinion.name.nil? %></td>
            <td><%= opinion.email unless opinion.email.nil? %></td>
            <td><%= link_to 'Mostrar', opinion, class: "btn btn-primary" %></td>
            <td><%= link_to 'Eliminar', opinion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'Nuevo comentario', new_opinion_path, class: "btn btn-default btn-block" %>
  </div>
</div>
